:host {
    padding: 8px;
    max-width: 250px;
    position: absolute;
    z-index: 99999;
    background: white;
    border-radius: 4px;
    box-shadow: 2px 2px 5px 3px rgba(0,0,0,0.34);
    visibility: hidden;
}